.vscode
.DS_Store
.env
.eslintrc.json
.gitignore
*.zip
build.js
build/
crowdin.yml
libs/
node_modules/
scripts/env-loader.js
scripts/subscription_choice.js
scripts/subscription_status.js
package-lock.json
package.json
web-ext-artifacts/
web-ext-config.js

