* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', Calibri, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    line-height: 1.618em;

}

fieldset {
    border-radius: 5px;
    border: 1px solid gray;
}

.left fieldset {
    display: inline-block;
    width: 480px;
    margin-right: 10px;
}

.right fieldset {
    display: inline-block;
}

span.option {
    display: inline-block;
    width: 150px;
    padding-bottom: 5px;
}

div#tabMode,
div#multiMode {
    color-scheme: light;
    max-width: 320px;
    background-color: lightgray;
    color: darkslategray;
}

.icon {
    font-size: 1.5em;
    margin-left: 3px;
}

div.nav {
    float: right;
}

input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    margin-right: 5px;
}

input[type="number"] {
    display: inline-block;
    width: 60px;
    margin-bottom: 5px;
}

ol#searchEngines li {
    /* Set the default cursor style */
    cursor: default;

    /* Hide the dotted border by default */
    border: none;
}

html[theme=light] ol#searchEngines li:hover {
    /* Show the dotted border when hovered */
    border: 2px dotted blue;

    /* Change the cursor to a hand when hovered */
    cursor: pointer;
}

html[theme=dark] ol#searchEngines li:hover {
    /* Show the dotted border when hovered */
    border: 2px dotted lightskyblue;

    /* Change the cursor to a hand when hovered */
    cursor: pointer;
}

ol#searchEngines li textarea {
    margin-top: 10px;
    margin-left: 55px;
}

.remove {
    margin-top: 10px;
}

li,
.va {
    vertical-align: top;
}

textarea {
    vertical-align: top;
}

li input[type="checkbox"] {
    margin-left: 10px;
}

li img {
    vertical-align: baseline;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#container {
    margin-right: 25px;
}

#container label,
#container #name {
    display: inline-block;
    width: 210px;
}

#addSearchEngineTab #name,
#addChatGPTPromptTab #promptName {
    display: inline-block;
    width: 195px;
}

.left input[type="radio"]+label {
    width: 120px;
}

input#gridMode+label,
input#optionsMenuAtTop+label {
    width: 600px;
}

#container input[type="url"],
#addSearchEngineTab #url,
#addChatGPTPromptTab #prompt {
    display: inline-block;
    width: 400px;
    margin-left: 10px;
}

#container .kb-shortcut,
#addSearchEngineTab #kb-shortcut,
#addChatGPTPromptTab #prompt-kb-shortcut {
    width: 130px;
    margin-left: 10px;
}

#container .keyword,
#addSearchEngineTab #keyword,
#addChatGPTPromptTab #promptKeyword {
    width: 80px;
    margin-left: 10px;
}

h2 {
    margin: 20px 0px 10px 0px;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

#container button {
    margin-left: 10px;
}

#container li {
    margin-bottom: 5px;
}

#container li:first-child>button.up {
    visibility: hidden;
}

#container li:last-child>button.down {
    visibility: hidden;
}

#upl {
    margin-top: 10px;
    margin-bottom: 8px;
}

h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 3px;
}

p,
button,
select {
    margin-top: 5px;
    margin-bottom: 5px;
}

#flexbox-container {
    margin-left: 10px;
}

#flexbox-container>div.left>div.preferences {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin-right: 10px;
}

#flexbox-container>div.right,
#flexbox-container>div.left {
    padding: 10px;
}

#container hr {
    display: inline-block;
    height: 5px;
    width: 900px;
    margin-left: 6px;
    border-width: 0;
    background-color: #005588;
}

hr.ruler {
    opacity: 0.5;
    margin: 1em 0.5em;
}

@media screen and (min-width: 1520px) {
    #flexbox-container {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
    }

    #flexbox-container .left {
        width: 30%;
    }

    #flexbox-container .right {
        width: 70%;
    }

    #flexbox-container>div.left {
        margin-right: 10px;
    }
}

.buttonrow button {
    margin-top: 12px;
    margin-bottom: 4px;
}

.sort {
    margin-left: 10px;
    color: black;
}

.ms {
    max-width: 650px;
}

code {
    background: #eaeaea;
    padding: 0px 5px;
    border-radius: 2px;
}

.p-sm {
    padding: 0.5em;
}

.subfolder {
    margin-left: 25px;
}

.empty {
    width: 100%;
    height: 20px;
    margin: 5px 0px;
    border: 2px dashed black;
}

/*
Slider bubble styling
*/
.slidercontainer {
    display: grid;
    grid-template-columns: 170px auto;
    position: relative;
    margin: 0 auto 2rem;
}

.slidercontainer>label {
    grid-column: 1 / 2;
}

.slider {
    grid-column: 2 / span 1;
}

.bubble {
    grid-column: 2 / span 1;
    margin-top: 22px;
    background: red;
    color: white;
    padding: 4px 8px;
    position: absolute;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.bubble::after {
    grid-column: 2 / span 1;
    margin-top: 22px;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: red;
    border-top: 0;
    margin-left: -5px;
    margin-top: -5px;
}

/* 
Style the tabs
*/
.wrapper {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
}

.tabs {
    position: relative;
    margin: 1rem 0;
    background: #0000cc;
    height: 27.75rem;
}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    float: left;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: inline-block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #0077ff;
    border-right: 0.125rem solid #fff;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}

.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}

.tab-content {
    height: 25rem;
    min-width: 55rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    opacity: 0;
    transition: all 0.35s;
}

.tab-switch:checked+.tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}

.option {
    margin-left: 3px;
}

html[theme=dark] .option label {
    color: #444;
}

html[theme=dark] .tab-label {
    background: #0077ff;
    border-right: 0.125rem solid #0000cc;
    color: #fff;
}

html[theme=dark] .tab-content {
    background: lightskyblue;
    color: #0000cc;
}

html[theme=dark] .tab-switch:checked+.tab-label {
    background: lightskyblue;
    color: #0000cc;
    border-right: 0.125rem solid #0000cc;
}